div.title a{ TEXT-DECORATION:none; color: #990000;}a:hover{TEXT-DECORATION: underline;}
img.img_responsive{max-width:100%;height:auto;display:block}
div.authors a:link,
div.authors a:visited{color:#000000}
div.img {display:inline-block;zoom:1;display*:inline;text-align:left;margin-left:auto;margin-right:auto;vertical-align:middle; padding-left:20px;padding-right:20px}
div.text {display:inline-block;zoom:1;display*:inline;text-align:left;margin-left:auto;margin-right:auto;vertical-align:middle;max-width:1960px; padding-left:0px;padding-right:20px}
div.publication{padding-top:0px;padding-bottom:0px}
div.publication div.img{max-width:300px;max-height:100px;padding-right:10px}
div.publication div.text{text-align:left}

@media only screen and (max-width: 80em) {
    div.publication div.img{display:none}
    div.publication div.text{text-align:left}
    div.publication {padding-top:0px;padding-bottom:10px}
    body{font-size:80%}
    div.twitter_feed{display:none}
}
@media only screen and (min-width: 80em) {
    div.publication div.img{max-width:12%}
    div.publication div.text{max-width:88%;text-align:left}
}


/* from feichtenhofer.github.io/ */
#timeline {
  font-size: 16px;
  font-weight: 300;
  /* background-color: #f7f7f7; */
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    margin-right: 3px;
    border-left: 3px solid #cf9fa6;
    text-align: left;
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    margin-left: 3px;
    border-right: 3px solid #cf9fa6;
    text-align: right;
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding: 20px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}

.timelineitem:before {
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 8px;
  height: 8px;
  background: #cf9fa6;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 4px;

}

@media (max-width: 768px) {
  .timelineitem {
    border-left: 3px solid #cf9fa6;
    text-align: left;
    margin-left: 10px;
    padding: 20px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }
}

.tdate {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -5px;
  color: rgb(132,0,0);
}
.ttitle {
  font-size: 16px;
  font-weight: 400;
}
.tdesc {
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .tdate {
    font-size: 12px;
  }
  .ttitle {
    font-size: 12px;
  }
  .tdesc {
    font-size: 12px;
  }
}
.thigh {
  color: #000266;
}